<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
당ㅅ긴은 회우너입니다<br>
이름은은 <%= user.name %> 입니다.<nrnr>

이메일은 <%= user.email %> 입니다.<br>
<a href='/logout'>Logout</a>
</body>
</html>